.event_container {
    margin: 1em;
    &_sign {
        form {
            button {
                width: 100%;
            }
        }
    }
    &_iframe {
        iframe {
            width: 100%;
            height: 20em;
        }
    }
}