.form_container {
    text-align: center;
    form {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        div {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        input, button {
            height: 2em;
        }
    }
}