.nav_container {
    height: auto;
    flex-direction: column;
    display: none;
    position: absolute;
    width: 100%;
    @media screen and (min-width: 600px) {
        height: auto;
        display: flex;
        flex-direction: row;
        height: 10em;
        position: relative;
    }
    p {
        margin: 0;
        width: 100%;
    }
    p:hover {
        background-color: rgb(1, 51, 6);
    }
    a {
        padding: 1em;
        display: block;
        color: black;
        text-decoration: none;
    }
    &_bar {
        display: flex;
        @media screen and (min-width: 600px) {
            display: none;
        }
        &_split {
            display: flex;
            padding: 0em 1em;
            width: 100%;
            justify-content: space-between;
            background-color: brown;
            i {
                align-self: center;
            }
            img {
                width: 20%;
            }
        }
    }
    background-color:#4abe7b;
    &_home {
        display: flex;
        width: 100%;
        @media screen and (min-width: 600px) {
            width: 25%;
            flex-direction: column;
        }
        background-color: #28ca5a;
    }
    &_item {
        display: flex;
        width: 100%;
        @media screen and (min-width: 600px) {
            width: 25%;
        }
        &_event {
            width: 50%;
            background-color: #28e863;
        }
        &_store {
            width: 50%;
            background-color: #0ebd44;
        }
    }
    &_about {
        display: flex;
        width: 100%;
        @media screen and (min-width: 600px) {
            width: 25%;
            flex-direction: column;
        }
        background-color: #28ca5a;
    }
    &_admin {
        display: flex;
        width: 100%;
        @media screen and (min-width: 600px) {
            width: 25%;
            flex-direction: column;
        }
        background-color: #10a73e;
    }
    &_login {
        display: flex;
        flex-direction: row;
        width: 100%;
        @media screen and (min-width: 600px) {
            width: 25%;
            flex-direction: column;
        }
        background-color: #0d752d;
    }
}