.containerpop {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: #0000004a;
    top: 5.8em;
    left: 0;
    @media screen and (min-width: 600px) {
        top: 10em;
    }
}
.changepop {
    border: solid;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 25%;
    right: 35%;
    width: 30%;
    height: 11em;
    background: antiquewhite;
    &_header {
        display: flex;
        justify-content: space-between;
        margin: 0em 1em;
        border-bottom: solid 1px;
        button {
            width: 5em;
            border: none;
            background: transparent;
        }
    }
}