.body_container {
    margin: 0;
}

.content {
    padding: 20px;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

$headerTrans: #28ca5a14;
$headerHight: 8em;
